__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
ENV/
env/
# Ignore generated or template excel files if needed (optional)
# Transformed_Tradebook.xlsx
# Tradebook Template.xlsx
*.log

.vscode/
.idea/
*.pdf
credentials.json
scratch/
market_info_cache.json
